* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


body {
    height: 100vh;
    background: url(background.jpg) no-repeat center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-body {
    width: 300px;
    height: 500px;
    background-color: #654584   ;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    line-height: 10px;   
}

.card-header {
    padding: 40px;
}

.profile-pic {
    display: inline-block;
    padding: 8px;
    overflow: hidden;
    background: linear-gradient(130deg, #9e7a38, #71476f);
    border-radius:50%;
    margin: auto;
}

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    padding: 20px;
    color: #f2d6ec;
    font-size: 20px;
    font-weight: 550;
}

.desc {
    color: rgb(19, 19, 19);
    font-weight: 600;
}

.git a{
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: #f2d6ec;
    
    
}

.git a:hover {
    transition: 2s;
    float: left;
}