* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


body {
    height: 100vh;
    background: url(background.jpg) no-repeat center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-body {
    width: 300px;
    height: 450px;
    background-color: #654584   ;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    line-height: 10px;   
    
}

.card-header {
    padding: 25px;
}

.profile-pic {
    display: inline-block;
    padding: 8px;
    overflow: hidden;
    background: linear-gradient(130deg, #9e7a38, #71476f);
    border-radius:50%;
    margin: auto;
}

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    padding: 20px;
    color: #f2d6ec;
    font-size: 20px;
    font-weight: 550;
}

.desc {
    color: rgb(19, 19, 19);
    font-weight: 600;
}


#gimg {
    padding: 25px;
    font-size: 30px;
    position: absolute;
    padding-left: 40px;
    padding-top: 15px;
    transition: all 0.4s ease;
}

#gimg.fab.fa-github {
    width: 20px;
    height: 20px;
}

#divimg {
    height: 80px;
}

#divimg {
    width: 180px;
    height: 60px;
    margin: auto;
}

#divimg a{
    text-decoration: none;
    color: #f2d6ec;
}

#gtxt {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 15px;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
}

.info-button {
    width: 160px;
    height: 40px;
    margin-top: 0px;
    margin: 10px;
    background-color: #654584;
    border-color: #f2d6ec;
    border-style: solid;
    border-radius: 5px;
    transition: ease .2s;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #f2d6ec;
}

.info-button:hover {
    background-color: #f2d6ec;
    color: rgb(19, 19, 19);
}
